VITE_ONCHAINKIT_API_KEY=YpFjb8rh9RuzhmGWxT9kPZ1vVfRaAXym
VITE_RPC_URL=https://mainnet.base.org
VITE_BASE_URL=http://localhost:5173
VITE_GM_CONTRACT=0x2EF5E4b1EA40e1BcA7cAaDAd27D79487C2f8Dd04
VITE_WALLET_APP_NAME=BM on Base


